{% extends "base.html" %}

{% load static %}

{% block head %}
    <script>
        function openVLC(id) {
            var to_open = "{% url 'home:show_video' 1234 %}".replace(/1234/, id.toString());
            window.open(to_open, "_self");
        }
    </script>
{% endblock %}

{% block main %}
    <div class="intro">
        <h4>Available content is listed below.</h4>
        <h7>Make sure you have <a href="https://nightlies.videolan.org/">VLC 4.0 or later</a> installed.</h7>
    </div>
    <hr>
    <div id='stream_list' class='row'>
        {% for stream in stream_list %}
            <div onclick="openVLC(this.id)" id="{{ stream.0.source }}_{{ stream.0.group }}" class='col-lg-4 col-md-4 col-sm-6 col-xs-12 source'>
                <p class='whois'>{{ stream.1.1 }}</p>
                <p class='info'>
                    Source: {{ stream.0.source }},      Group: {{ stream.0.group }}{% if stream.0.pps %},      PPS: {{ stream.0.pps }}{% endif %}{% if stream.0.udp_port %},      UDP: {{ stream.0.udp_port }}{% endif %}
                </p>
                <p class='descript'>{{ stream.0.whois }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}