{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}

{% block main %}
    <h5>In what form do you wish to provide your stream?</h5>
    <br>
    <div class="row center-div">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{% url 'add:add_upload' %}">
                <button type="button" class="btn mm-btn add-btn">An uploaded file</button>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{% url 'add:add_manual' %}">
                <button type="button" class="btn mm-btn add-btn">Manually report an existing stream</button>
            </a>
        </div>
    </div>
{% endblock %}