{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}

{% block main %}
    <div class="center-div">
        <h2>Broken Streams</h2>
        <h6>The following streams have been marked inactive and are no longer shown to users. You can click each one to view its details and take appropriate action.</h6>
    </div>
    <div class="stream-cards">
        {% for stream in stream_list %}
            <article>
                <figure class="stream-card-header">
                    <a href="{% url 'view:broken_detail' stream.id %}"></a>
                    {% if stream.thumbnail %}
                        <img src={{ stream.thumbnail.url }} alt="" class="thumbnail">
                    {% else %}
                        <img src="{% static 'img/svg/image-fill.svg' %}" class="fallback-thumbnail">
                    {% endif %}
                </figure>
                <div class="stream-card-body">
                    <a href="{% url 'view:broken_detail' stream.id %}" class="invisible-a">
                        <strong style="display: block">
                            {{ stream.get_description }}
                        </strong>
                    </a>
                    {{ stream.source_name }}
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}