{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}

{% block main %}
    <div class="center-div">
        <h2>Broken Streams</h2>
        <h6>The following streams have been marked inactive and are no longer shown to users. You can click each one to view its details and take appropriate action.</h6>
    </div>
    <hr>
    <div class="row">
        {% for stream in stream_list %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 center-div stream-box">
                <a class="invisible-a" href="{% url 'view:broken_detail' stream.id %}">
                    <h5><strong>{{ stream.get_description }}</strong></h5>
                    <p class="stream-whois">{{ stream.source_name }}</p>
                    <br>
                    <p class="stream-info">Source: {{ stream.source }}</p>
                    <p class="stream-info">Group: {{ stream.group }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}