{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
    <script>
        function upvote(description_id) {
            $.ajax({
                type: "GET",
                url: "{% url 'view:upvote_description' 1234 %}".replace(/1234/, description_id),
            });
        }

        function downvote(description_id) {
            $.ajax({
                type: "GET",
                url: "{% url 'view:downvote_description' 1234 %}".replace(/1234/, description_id),
            });
        }

        function report(stream_id) {
            $.ajax({
                type: "GET",
                url: "{% url 'view:report' 1234 %}".replace(/1234/, stream_id),
                success: function () {
                    alert("Thank you for reporting this; your input has been recorded.");
                },
            });
        }
    </script>
{% endblock %}

{% block main %}
    <div style="max-width: 880px; margin: auto;">
        <!-- Preview image -->
        <div>
            {% if stream.preview %}
                <img class="responsive-image detail-padding" src={{ stream.preview.url }}>
            {% endif %}
        </div>
        <!-- Title, organization, owner...-->
        <div class="detail-margin">
            <h1 style="font-size: 22px; font-weight: bold;">{{ stream.get_description }}</h1>
            <h2 style="font-size: 14px;">Organization: {{ stream.source_name }}</h2>
            <h2 style="font-size: 14px;">Owner: {{ stream.owner.username }}</h2>
        </div>
        <!-- Categories -->
        <div class="categories detail-margin">
            Categories:&nbsp;
            {% for category in stream.categories.all %}
                <span class="category-tag">
                    {{ category.name }}
                </span>
            {% endfor %}
        </div>
        <!-- Open in VLC -->
        <div class="detail-margin">
            <a href="{% url 'view:open' stream.id %}">
                <button type="button" class="btn detail-button detail-padding">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 32px; height: 32px; padding-bottom: 2px;" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                    </svg>
                    Open in VLC
                </button>
            </a>
        </div>
        <!-- Open manually -->
        <div class="text-box">
            <p style="text-align: center;">
                You can also view this video manually in VLC by entering
                <code>amt://{{ stream.source }}@{{ stream.group }}{% if stream.udp_port %}:{{ stream.udp_port }}{% endif %}</code>
                as the network url or via the command line
                {% if stream.amt_relay %}, passing the option <code>--amt-relay {{ stream.amt_relay }}</code>{% endif %}.
            </p>
        </div>
        <!-- Possible errors -->
        <div class="text-box">
            <p>Possible errors you might encounter:</p>
            <ul>
                <li>You don't have <a href="https://nightlies.videolan.org/">VLC 4.0 or later</a> installed (this is a dev version).</li>
                <li>The video stream you've chosen isn't actually video, so VLC is unable to play it. Try another stream; we are working on filtering.</li>
                <li>If the file that was downloaded isn't opening in VLC, make sure that VLC is the default app for opening .m3u files in your settings.</li>
                <li>The default amt relay in your VLC application doesn't match the amt relay specified above. You can fix this in preferences.</li>
            </ul>
        </div>
        <!-- Report broken stream -->
        <div class="detail-margin">
            <button type="button" class="btn detail-button detail-padding" onclick="report('{{ stream.id }}')">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 32px; height: 32px; padding-bottom: 2px;" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                </svg>
                Report Broken Stream
            </button>
        </div>
    </div>

{% endblock %}