html {
    height: 100%;
    overflow-x: hidden;
}

.main {
    min-height: calc(100vh - 65px);
    margin-top: 65px;
    background-color: #dee3e2;
    text-align: center;
    padding: 10px;
}

.centered-div {
    text-align: center;
}

.left-div {
    text-align: left;
}

.inline-ele {
    display: inline-block;
}

.header {
    position: fixed;
    z-index: 1;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #01785e;
    text-align: center;
}

.header_title {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
}

.header_nav {
    padding: 20px 10px;
    padding-bottom: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header_nav:hover {
    text-decoration: none;
    color: grey;
}

#footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: black;
    background-color: #01785e;
}

.button {
    width: 35%;
    padding: 10px;
    margin: 0px;
    border: none;
    font-size: 120%;
    text-decoration: none;
    background-color: #8fc9a8;
}

.link {
    padding: 7px 30px 7px 30px;
    margin: 0px;
}

.link:hover {
    text-decoration: underline;
}

.errorlist {
    color: #d62912;
    list-style-type: none;
}

#id_description {
    height: 75px;
}

#load {
    text-align: center;
}

.source {
    padding: 20px;
    margin: 5px;
}

.source:hover {
    background-color: #949492;
}

.info {
    text-align: center;
    font-size: 13px;
    margin-top: 1px;
}

.descript {
    font-size: 17px;
    margin-top: 10px;
}

.whois {
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 20px;
}

#id_ans {
    height: 40px;
    width: 95%;
    font-size: 15px;
}

.content {
    font-size: 1rem;
}

.contain {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    color: #8fc9a8;
}

.add-form {
    padding: 10px;
}