<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Multicast Menu</title>
        <meta name="author" content="Lauren Delwiche">
        <link rel="icon" href="{% static 'img/logo.png' %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/5af5efc5b7.js"></script>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar {% if user.is_authenticated %} navbar-expand-xl {% else %} navbar-expand-lg {% endif %} navbar-dark header">
            <a class="navbar-brand header-link" href="{% url 'view:index' %}">Multicast Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div  class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!-- Search -->
                    <form action="{% url 'view:index' %}" method="get" role="search" style="display: flex;">
                        <input required type="search" name="query" id="query" placeholder="Search..." {% if query %} value={{ query }} {% endif %} class="search-input-field">
                        <button type="submit" class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search navigation-icon" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link header-link" href="{% url 'view:index' %}">
                            <img src="{% static 'img/svg/table.svg' %}" class="navigation-icon" >
                            View Streams
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link header-link" href="{% url 'add:index' %}">
                                <img src="{% static 'img/svg/plus-circle-fill.svg' %}" class="navigation-icon" >
                                Add Stream
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="{% url 'manage:index' %}">
                                <img src="{% static 'img/svg/ui-radios.svg' %}" class="navigation-icon" >
                                Manage Streams
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <a class="nav-link header-link" href="{% url 'view:broken_index' %}">
                                <img src="{% static 'img/svg/hammer.svg' %}" class="navigation-icon" >
                                Broken Streams
                            </a>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link header-link" href="{% url 'logout' %}">
                                <img src="{% static 'img/svg/door-closed-fill.svg' %}" class="navigation-icon" >
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link header-link" href="{% url 'login' %}">
                                <img src="{% static 'img/svg/door-open-fill.svg' %}" class="navigation-icon" >
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="{% url 'view:register' %}">
                                <img src="{% static 'img/svg/person-plus-fill.svg' %}" class="navigation-icon" >
                                Register
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!--
        The class wrapper adds padding: 15px; to the main block.
        This should not be done on the main page, because this padding will stay around the div with the categories.
        -->
        <div {% if request.path != "/" %} class="wrapper" {% endif %}>
            {% block main %}{% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>