{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="left-div">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </p>
            {{ form.non_field_errors }}
            <input class="btn mm-btn" type="submit" value="Login"/>
        </form>    
    </div>
{% endblock %}