{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="left-div">
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}:</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </p>
            <p>
                {{ form.password1.help_text }}
            </p>
            <p>
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}:</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </p>
            {{ form.non_field_errors }}
            <input class="btn mm-btn" type="submit" value="Register"/>
        </form>    
    </div>
{% endblock %}