html {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: #212529;
}

.main {
    min-height: calc(100vh - 76px);
    background-color: #dee3e2;
    padding-top: 20px;
}

.left-div {
    text-align: left;
}

.center-div {
    text-align: center;
}

.errorlist {
    list-style-type: none;
    color: #ac0202;
}

.mm-btn {
    background-color: #01785e;
}

.mm-btn:hover {
    background-color: #01785ed5;
}
