<!DOCTYPE html>

{% load static %}

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Multicast Menu</title>
        <meta name='author' content='Lauren Delwiche'>
        <link rel="icon" href="{% static 'img/logo.png' %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/5af5efc5b7.js"></script>

        <link rel='stylesheet' href="{% static 'css/base.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block root %}
            <div class='' id='root' style="background: #FFFFFF;">
                <div class='row header'>
                    <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                        <h1 class='header_title'>Multicast Menu</h1>
                    </div>
                    <div class='col-lg-3 col-md-3'></div>
                    <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12'>
                        <a href="{% url 'home:index' %}"><h3 class='header_nav'>Home</h3></a>
                        <a href="{% url 'home:add' %}"><h3 class='header_nav'>Add Stream</h3></a>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-lg-1 col-md-1 col-sm-1'></div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-12 main'>{% block main %}{% endblock %}</div>
                    <div class='col-lg-1 col-md-1 col-sm-1'></div>
                </div>

                <div id='footer'></div>
            </div>
        {% endblock %}
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
