{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="left-div">
        <h2>My Streams</h2>
        <hr>
        <h4>Streams Actively Being Sent to Translation Server</h4>
        <ul>
            {% for stream, submission in submissions %}
                <li>Stream {{ stream }} (Submitted at {{ submission.time_submitted }} - <a href="{% url 'manage:stop_stream' submission.id %}">Cancel Stream</a>)</li>
            {% endfor %}
        </ul>
        <br>
        <h4>Streams Reported Manually</h4>
        <ul>
            {% for stream, report in reports %}
                <li>
                    {{ r }} - 
                    {% if r.error_message %}
                        {% if not r.verified %}
                            ({{ r.error_message }})
                            <a href="{% url 'manage:retry_verification' r.id %}">Retry Verification</a>
                        {% else %}
                            Verified
                        {% endif %}
                    {% else %}
                        Verifying
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
    </div>
{% endblock %}