{% extends "base.html" %}

{% load static %}

{% block main %}
    <form action="" method="post" class="add-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            <label for="{{ form.source.id_for_label }}">{{ form.source.label }}:</label>
            {{ form.source }}
            {{ form.source.errors }}
        </p>
        <p>
            <label for="{{ form.group.id_for_label }}">{{ form.group.label }}:</label>
            {{ form.group }}
            {{ form.group.errors }}
        </p>
        <p>
            <label for="{{ form.udp_port.id_for_label }}">{{ form.udp_port.label }}:</label>
            {{ form.udp_port }}
            {{ form.udp_port.errors }}
        </p>
        <input class="button" type="submit" name="Report" value="Report"/>
    </form>    
{% endblock %}