{% extends "base.html" %}

{% load static %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.source.id_for_label }}">{{ form.source.label }}:</label>
            {{ form.source }}
            {{ form.source.errors }}
        </p>
        <p>
            <label for="{{ form.group.id_for_label }}">{{ form.group.label }}:</label>
            {{ form.group }}
            {{ form.group.errors }}
        </p>
        <p>
            <label for="{{ form.udp_port.id_for_label }}">UDP Port:</label>
            {{ form.udp_port }}
            {{ form.udp_port.errors }}
        </p>
        {{ form.non_field_errors }}
        <input class="btn mm-btn" type="submit" value="Submit">
    </form>    
{% endblock %}