{% extends "base.html" %}

{% load static %}

{% block head %}
    <style>
        .option-btn {
            text-align: center;
            min-width: 100%;
            min-height: 5em;
        }
    </style>
{% endblock %}

{% block main %}
    <h5>In what form do you wish to provide your stream?</h5>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a href="{% url 'add:add_stream_file' %}">
                <button type="button" class="option-btn btn btn-dark">An uploaded file</button>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a href="{% url 'add:add_stream_link' %}">
                <button type="button" class="option-btn btn btn-dark">A link to a live video stream</button>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a href="{% url 'add:add_stream_manual' %}">
                <button type="button" class="option-btn btn btn-dark">Manually report an existing stream</button>
            </a>
        </div>
    </div>
{% endblock %}